.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
local.properties
.kotlin

### JavaScript ###
kotlin-js-store/
node_modules/
package-lock.json

### IntelliJ IDEA ###
.idea/

### Mac OS ###
.DS_Store